#demo-images .slick-dots {
    position: relative !important;
}

#demo-images .slick-dots li {
    width: auto !important;
    border: 1px solid #32312F4D;
    overflow: hidden;
    height: auto !important;

}

#demo-images .slick-slide>div>div {
    display: flex !important;
    justify-content: center !important;
}

#seen-products .slick-track {
    margin-left: 0 !important;
}